div{width: 180px;height: 180px;background: black;border:1px solid gold;}
.odd{color:gray;}
.bg{width:100px;height:40px;background: green;color:red;}
div p{font-size: 20px;}
.onediv{color: yellow;}
.twodiv{color: pink;}

span{