/*CSS重置*/
		*{margin:0; padding:0; list-style:none; height: 100%;}
		body{ background:#fff; font:normal 12px/22px 宋体;  }
		img{ border:0;  }
		a{ text-decoration:none; color:#333;  }
		a:hover{ color:#1974A1;  }
		.js{width:90%; margin:10px auto 0 auto; }
		.js p{ padding:5px 0; font-weight:bold; overflow:hidden;  }
		.js p span{ float:right; }
		.js p span a{ color:#f00; text-decoration:underline;   }
		.js textarea{ height:100px;  width:98%; padding:5px; border:1px solid #ccc; border-top:2px solid #aaa;  border-left:2px solid #aaa;  }

/*正文*/
#container{
    position:relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

/* 通用页眉样式 */

#header {
    /* 悬浮顶部代码（需要解决与文本重叠问题）
    z-index: 999;
    top: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;    
    position:fixed; 
    */

    width: 100%;
    border-bottom: 5px solid #800080;
    flex: 0 0 auto;
}
#header a {
    text-decoration: none
}
#header a:hover { 
    text-decoration: none;
    color: #7f1083
}
#header-inner {}

/*页眉图文样式*/
#title {
    color: #333;
    font-weight: bold;
    width: 380px;
}
#title a {
    color: #333;
}
#header.show-image #header-inner {/*顶部图标位置*/
    margin: 0 auto;
    width: 960px;
    position: relative;
    padding-top: 5px; 
}

/* 导航栏样式 */
#main-nav,
#sub-nav {
    position: absolute;
    text-align: left;
    right: 0;
    top: -24px;
}
#main-nav {/*顶部导航栏位置*/
    top: 32px;
    width: 560px;
}
#main-nav li,
#sub-nav li {
    display:inline-block;*display:inline;*zoom:1;
    list-style: none;
    margin-left: 1em;
}
#main-nav li {
    margin-left: 2em;
    margin-bottom: 10px;
}
#main-nav a {
    color: #000000;
    font-size: 24px;
    font-weight: normal;
}
#sub-nav a {
    color: #777;
    font-size: 12px;
}

/* 主题内容 */
#main {
    background: #fff;/*测试用底色*/
    flex: 1 0 auto;
}

/* 滚动广告 */
.picFocus{ margin:0 auto;  width:467px; border:1px solid #ccc; padding:5px;  position:relative;  overflow:hidden;  zoom:1;   }
.picFocus .hd{ width:100%; padding-top:5px;  overflow:hidden; }
.picFocus .hd ul{ margin-right:-5px;  overflow:hidden; zoom:1; }
.picFocus .hd ul li{ padding-top:5px; float:left;  text-align:center;  }
.picFocus .hd ul li img{ width:109px; height:65px; border:2px solid #ddd; cursor:pointer; margin-right:5px;   }
.picFocus .hd ul li.on{ background:url("images/icoUp.gif") no-repeat center 0; }
.picFocus .hd ul li.on img{ border-color:#f60;  }
.picFocus .bd li{ vertical-align:middle; }
.picFocus .bd img{ width:467px; height:230px; display:block;  }


/*homepage官网链接*/
#linkbox {
    display: flex;
    flex-direction: column;
    width: 840px;
    position: relative;
    left: 50%;
    transform:translate(-50%,-50%);
    margin-top:100px;
    text-align:center;
}
#linkbox ul {
    float:left;
    list-style-type:none;
}
#linkbox a {
    float:left;
    width:100px;
    text-decoration:none;
    color:white;
    background-color:#fff;
    padding:16px 16px;
}
#linkbox a:hover {background-color:#fff}
#linkbox li {display:inline}

/* 通用注脚样式 */
#footer {
    position: relative;
    width:100%;
    bottom: 0;
    background-color: #ededed;
    color:#a5a8aa;
    text-align:center;
    font-size:16px;
    flex: 0 0 auto;
    text-shadow: 0 1px 0 #fff;
}
#footer p{line-height: 24px;}
#footer span{line-height: 24px;}
#footer a {
    color:#a5a8aa;
}