/*CSS重置*/
* {margin:0; padding:0; list-style:none; height: 100%;}
body { background:#fff; font:normal; -webkit-font-smoothing: antialiased;}
html {-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%;-moz-osx-font-smoothing: grayscale;}
img { border:0;  }
a { text-decoration:none;}

/*全文样式*/
#container {
    position:relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

/* 通用页眉样式 */

#header {
    /* 悬浮顶部代码（...施工中: 文本重叠问题）
    z-index: 999;
    top: 0;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;    
    position:fixed; 
    */

    width: 100%;
    border-bottom: 5px solid #800080;
}
#header a {
    text-decoration: none
    transition: color 0.3s;
}
#header a:hover { 
    text-decoration: none;
    color: #7f1083
}
#header-inner {}

/*页眉图文样式*/
#title {
    color: #333;
    font-weight: bold;
    width: 380px;
}
#title a {
    color: #333;
}
#header.show-image #header-inner {/*顶部图标位置*/
    margin: 0 auto;
    width: 960px;
    position: relative;
    padding-top: 5px; 
}

/* 导航栏样式 */
#main-nav,
#sub-nav {
    position: absolute;
    text-align: left;
    right: 0;
    top: -24px;
}
#main-nav {/*顶部导航栏位置*/
    top: 32px;
    width: 560px;
}
#main-nav li,
#sub-nav li {
    display:inline-block;*display:inline;*zoom:1;
    list-style: none;
    margin-left: 1em;
}
#main-nav li {
    margin-left: 2em;
    margin-bottom: 10px;
}
#main-nav a {
    color: #000000;
    font-size: 24px;
    font-weight: normal;
}
#sub-nav a {
    color: #777;
    font-size: 12px;
}

/* 主题内容 */
#page {
    background: #fff;/*测试用底色*/
    padding-bottom: 24px;/*等于footer绝对定位的高度*/
}

/* 焦点图片 */
.picFocus { 
    margin:44px auto;  
    width:640px;  
    position:relative; 
    overflow:hidden; 
    zoom:1;   }
.picFocus .hd {
    padding-left:50px; /*缩略图框体位置*/
    width:100%;  
    overflow:hidden;
 }
.picFocus .hd ul{margin-right:-5px;  overflow:hidden; zoom:1; }
.picFocus .hd ul li{ padding-top:5px; float:left;  text-align:center;  }
.picFocus .hd ul li img{ width:128px; height:72px; border:2px solid #ddd; cursor:pointer; margin-right:5px;   }
.picFocus .hd ul li.on{ background:url("images/icoUp.gif") no-repeat center 0; }
.picFocus .hd ul li.on img{ border-color:#7F1083;  }
.picFocus .bd li{ vertical-align:middle; }
.picFocus .bd img{ width:640px; height:360px; display:block;  }


/*homepage官网链接*/
#linkbox {
    flex: 1;
    border: none;
    margin:74px auto;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    box-sizing: border-box;
}
#linkbox a{
    color: black;
    transition: color 0.3s;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: 80px;
    text-align: center;
}
#linkbox a:hover{color:#7f1083;}

/* 通用注脚样式 */
#footer {
    position: absolute;
    width:100%;
    bottom: 0;
    clea:both;
    height: 24px;/*footer绝对定位高度*/
    background-color: #ededed;
    color:#a5a8aa;
    text-align:center;
    font-size:16px;
    flex: 0 0 auto;
    text-shadow: 0 1px 0 #fff;
}
#footer p{line-height: 24px;}
#footer span{line-height: 24px;}
#footer a {
    color:#a5a8aa;
}

/*返回顶部按钮样式*/
#totop {
    text-algin:center;
    min-width:80px;
    height: 28px;
    line-height: 28px;
    display: none; /* 默认隐藏 */
    position: fixed; 
    bottom: 26px; 
    right: 16px; 
    z-index: 3; 
    border: 2px solid #7f1083;
    outline: none; 
    background-color: #fff; /* 背景颜色 */
    color: #7f1083; /* 文本颜色 */
    cursor: pointer; 
    border-radius: 20px;
/*未知原因失效中*/#totop:hover {
    background-color: #7f1083; 
    color: #fff;
}